  /*---------------------------------------------------------------------------------------------

 *  Copyright (c) Microsoft Corporation. All rights reserved.

 *  Licensed under the MIT License. See License.txt in the project root for license information.

 *--------------------------------------------------------------------------------------------*/



    html,
    body {

        font-family: var(--vscode-markdown-font-family, -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", "Ubuntu", "Droid Sans", sans-serif);

        font-size: var(--vscode-markdown-font-size, 14px);

        padding: 0 26px;

        line-height: var(--vscode-markdown-line-height, 22px);

        word-wrap: break-word;

    }



    #code-csp-warning {

        position: fixed;

        top: 0;

        right: 0;

        color: white;

        margin: 16px;

        text-align: center;

        font-size: 12px;

        font-family: sans-serif;

        background-color: #444444;

        cursor: pointer;

        padding: 6px;

        box-shadow: 1px 1px 1px rgba(0, 0, 0, .25);

    }



    #code-csp-warning:hover {

        text-decoration: none;

        background-color: #007acc;

        box-shadow: 2px 2px 2px rgba(0, 0, 0, .25);

    }



    body.scrollBeyondLastLine {

        margin-bottom: calc(100vh - 22px);

    }



    body.showEditorSelection .code-line {

        position: relative;

    }



    body.showEditorSelection .code-active-line:before,

    body.showEditorSelection .code-line:hover:before {

        content: "";

        display: block;

        position: absolute;

        top: 0;

        left: -12px;

        height: 100%;

    }



    body.showEditorSelection li.code-active-line:before,

    body.showEditorSelection li.code-line:hover:before {

        left: -30px;

    }





    .vscode-dark.showEditorSelection .code-active-line:before {

        border-left: 3px solid rgba(255, 255, 255, 0.4);

    }



    .vscode-dark.showEditorSelection .code-line:hover:before {

        border-left: 3px solid rgba(255, 255, 255, 0.60);

    }



    .vscode-dark.showEditorSelection .code-line .code-line:hover:before {

        border-left: none;

    }



    .vscode-high-contrast.showEditorSelection .code-active-line:before {

        border-left: 3px solid rgba(255, 160, 0, 0.7);

    }



    .vscode-high-contrast.showEditorSelection .code-line:hover:before {

        border-left: 3px solid rgba(255, 160, 0, 1);

    }



    .vscode-high-contrast.showEditorSelection .code-line .code-line:hover:before {

        border-left: none;

    }



    img {

        max-width: 100%;

        max-height: 100%;

    }



    a {

        text-decoration: none;

    }



    a:hover {

        text-decoration: underline;

    }



    a:focus,

    input:focus,

    select:focus,

    textarea:focus {

        outline: 1px solid -webkit-focus-ring-color;

        outline-offset: -1px;

    }



    hr {

        border: 0;

        height: 2px;

        border-bottom: 2px solid;

    }



    h1 {

        padding-bottom: 0.3em;

        line-height: 1.2;

        border-bottom-width: 1px;

        border-bottom-style: solid;

    }



    h1,
    h2,
    h3 {

        font-weight: normal;

    }



    table {

        border-collapse: collapse;

    }



    table>thead>tr>th {

        text-align: left;

        border-bottom: 1px solid;

    }



    table>thead>tr>th,

    table>thead>tr>td,

    table>tbody>tr>th,

    table>tbody>tr>td {

        padding: 5px 10px;

    }



    table>tbody>tr+tr>td {

        border-top: 1px solid;

    }



    blockquote {

        margin: 0 7px 0 5px;

        padding: 0 16px 0 10px;

        border-left-width: 5px;

        border-left-style: solid;

    }



    code {

        font-family: Menlo, Monaco, Consolas, "Droid Sans Mono", "Courier New", monospace, "Droid Sans Fallback";

        font-size: 1em;

        line-height: 1.357em;

    }



    body.wordWrap pre {

        white-space: pre-wrap;

    }



    pre:not(.hljs),

    pre.hljs code>div {

        padding: 16px;

        border-radius: 3px;

        overflow: auto;

    }



    pre code {

        color: white;

        tab-size: 4;

    }



    /** Theming */



    body {

        background-color: rgba(27, 27, 27);

    }



    div {

        background-color: rgba(10, 10, 10, 0.4);

        color: white;

    }

    a:visited,
    a:link {

        color: cornflowerblue;

    }



    table>thead>tr>th {

        border-color: rgba(255, 255, 255, 0.69);

        color: white;

    }



    h1,
    hr,
    table>tbody>tr+tr>td {

        border-color: rgba(255, 255, 255, 0.18);

        color: white;

    }